# Node.js
node_modules
package-lock.json
npm-debug.log*

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# VSCode
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Reports
mochawesome-report/